body {background-color: #f0f0f0!important;}
.MenuHeader {width: auto;height: 60px;background-color: #f0ff00;position: fixed;}
.MenuHeader>span {display: inline;}
.signin {width: 30%;margin-left: auto;margin-right: auto;}
.obrazek { max-width: 253px;max-height: 158px;}
.thumbnail {padding-top: 20px;}